#
# This is the hypermail test rc config file.
#
language = en
htmlsuffix = html
mbox = testmail
archives = ../
about = ../
label = We Be TeStInG List Software List
dir = testdir
defaultindex = subject
overwrite = 1
inlinehtml = 1
increment = 1
readone = 0
reverse = 1
#progress = 0
#progress = 1
progress = 2
#showheaders = 0
show_headers = *
#show_headers = Subject,Date,From
show_headers = X-Mailer,Status
showhtml = 1
showbr = 1
showreplies = 1
show_msg_links = 1 
show_index_links = 1
#usetable = 1
usetable = 0
#indextable = 1
indextable = 0
iquotes = 1
eurodate = 0
discard_dup_msgids = 0
require_msgids = 1
usemeta = 0
#dateformat = %Y/%m/%d - %H:%M %Z
attachmentlink = 
attachmentsindex = On
uselock = 1
locktime = 3600
thrdlevels = 9
dirmode = 0755
filemode = 0644
#mailcommand = mailto:$TO?subject=$SUBJECT&amp;replyto=$ID
#newmsg_command=mailto:$TO
#replymsg_command=mailto:$TO?Subject=$SUBJECT
mailto = webmusket@hypermail.org
domainaddr = hypermail.org
#hmail = hypermail@hypermail.org

stripsubject = [hypermail]
linkquotes = 0
searchbackmsgnum = 500
quote_hide_threshold = 100
quote_link_string = Link
link_to_replies = Reply
monthly_index = 0
yearly_index = 0
#thread_file_depth = 1
#folder_by_date = %y%m
#msgsperfolder = 100 
latest_folder = current
describe_folder = "%b %Y"
iso2022jp = 0
isodate = 1
gmtime = 0
usegdbm = 0
append = 1
append_filename = $DIR/INBOX
#avoid_indices = subject author 
#avoid_top_indices = date thread
#base_url = http://www.hypermail.org/mail-archive/
#txtsuffix = txt
#delete_older = "Wed, 14 Mar 2001 12:59:51 +0200"
#delete_newer = "Wed, 28 Mar 2001 12:59:51 +0200"
deleted = "X-Hypermail-Deleted X-No-Archive"
expires = Expires
#delete_msgnum = 0 42 666
delete_level = 1

#filter_out=From:.+@spammers.com
#filter_require = hypermail
#filter_out_full_body = BUY
#filter_require_full_body = [Ff]ree

#save_alts = 2
alts_text = "alternate version of message" 
warn_suppressions = 1
unsafe_chars = "."

#spamprotect = 1
#spamprotect_id = Off
# antispamdomain =                     #correctly ignored
# antispamdomain = ""                  #leaves quote marks in the url
# antispamdomain = " "                 #works, leaves a space in the url
# antispamdomain = "email_protected"   #works
#antispamdomain = "email.domain.hidden" #works

text_types = message/DELIVERY-STATUS
inline_types = "image/gif image/jpeg image/png"
ignore_types = text/x-vcard
ignore_types = application/x-msdownload
prefered_types = text/plain text/html 

#ihtmlheaderfile = test-index.hyp
#ihtmlfooterfile = test-footer.hyp
#mhtmlheaderfile = test-msg.hyp
#mhtmlfooterfile = test-footer.hyp

